@import "node_modules/bootstrap/scss/bootstrap";
@import "timeline";

$home-image: url(../img/background.jpg);
$blur-color: #444;
$primary-color: white;
$secondary-color: rgb(255, 142, 36);
$third-color: #b0ffa3;
$font-color: #000;
$background-opacity: 0.8;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

#project_link{
    display:block;
}

@mixin background {
      &#bg-img {
        background: $home-image;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  
        &:after {
          content: '';
          position: fixed;
          top: 0;
          right: 0;
          width: 100vw;
          height: 100vh;
          z-index: -1;
          background: rgba($blur-color, $background-opacity);
        }
      }
}

.secondary-color{
    color: $secondary-color;
}

.third-color{
    color: $third-color;
}

body{
    @include background;
    color: $font-color;
    //font-family: 'Roboto', sans-serif;
}


.img-thumbnail{
    width: 10rem;
}

.card{
    background-color: $primary-color;
    li{
        background-color: $primary-color;
    }
    &#about-card{
        width: 100%;
        min-width: 20vw;
        max-width: 30rem;

        &p{
            margin: 0px;
        }
    }

    &#landing-card{
        width: 100%;
        max-height: 60vh;
        max-width: 30rem;   
    }

    &#project-card{
        height: 80vh;
        max-width: 30rem;

        h3{
            border-bottom: solid;
        }
        img{
            object-fit: contain;
            overflow: hidden;
            height: 20rem;
        }
    }
}

a{
    color: $font-color;
    @include easeOut();
    &:hover {
        color: $secondary-color;
    }

    &#scroll-button{
        color: $third-color;
    }
}

.link{
    text-align: center;
}


#timeline-card{
    width: max-content;
    background-color: $primary-color;
    height: max-content;
    padding-right: 2rem; 
}


.timeline-container{
    height: inherit;
    width: 100%;
}

@include media-breakpoint-only(xl){
    .row-lg-12{
        height: 100vh;
        &.landing-page{
            justify-content: space-evenly;
        }

    }
    

    html{
        min-height: 100%;
    }

    body{
        height: 100vh;
    }

    .card{
        width:100%;
    }
}


@include media-breakpoint-down(lg){

    .col-lg-6{
        flex-direction: column;
    }

    .row-lg-12{
        flex-direction: column;

    }
    .card{
        max-width: 30rem;
        width:100%;
    }
}


#project_link {
    margin-top: 2rem;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

